/*custom colors*/
/*$cc-primary: #8e815c;*/
$cc-primary: #54759a;
/*$cc-background: #46494c;*/
$cc-background: #2a2d2f;
$cc-background-light: #5f6163;
$cc-background-dark: #25272a;
$cc-background-snippet-selected: #dbeeff;
/*bootstrap override*/
$primary: $cc-primary;
$secondary: $cc-background-dark;
$body-bg: $cc-background;
$danger: #f74a4a;
/*#9299a5*/

/*Grandezze*/
$body-height: 93vh;
$footer-height: 7vh;