@{
    ViewData["Title"] = "Accedi o registrati";
}

<div class="row min-vh-100 vertical-align">
    <div class="col-12 col-lg-6 text-center">
        <h1 class="text-white title">MySnippet</h1>
        <h5 class="text-white">Organizza il tuo &lt;codice/&gt;</h5>
    </div>
    <div class="col-12 col-lg-6 text-center">
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-sm btn-primary w-75 text-white">Accedi</a>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-sm btn-default w-75 text-white mt-1">Registrati</a>
    </div>
</div>